SOAP JDBC/Cliente_C/xml-resources/web-service-references/WebServer/wsdl/localhost_8080/Server_C/WebServer.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://syntech2/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://syntech2/">

<xs:element name="actualizar" type="tns:actualizar"/>

<xs:element name="actualizarResponse" type="tns:actualizarResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="operation" type="tns:operation"/>

<xs:element name="operationResponse" type="tns:operationResponse"/>

<xs:complexType name="operation">
<xs:sequence>
<xs:element name="num1" type="xs:int"/>
<xs:element name="operador" type="xs:string" minOccurs="0"/>
<xs:element name="num2" type="xs:int"/>
<xs:element name="resultado" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="actualizarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>